@mixin flexRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .date {
    display: flex;
    flex-direction: column;
  }
  
  .date:hover {
     background: #fdf7e1;
  }
  
  
  .day {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
  }
  
  .group {
    width: 2.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    background: orange;
    color: white;
  }
  
  .event {
    display: flex;
    height: 100%;
    flex-direction: column;
    margin: 2px 5px 10px 5px;
    gap:0.2rem;
  }
  
  .status {
    font-weight: 800;
  }
  
  .orange {
    color: orange;
  }
  
  .lightgrey {
    color: rgb(165, 163, 163);
  }
  
  .teal {
    color: rgb(2, 165, 143);
  }
  
  .blue {
    color: rgb(1, 58, 214);
  }
  
  .checkMoreGroups {
     margin: 25px 5px;
     line-height: 20px;
  }
  
  .moreGroupsLink {
   position: relative;
   text-decoration: none;
   color:#0378af;
   font-weight:800;
  }
  
  .lowestPrice {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }
  
  .price {
    color: orangered;
    font-weight: 800;
  }
  
  .availableVacancy,
  .totalVacancy {
    color: rgb(121, 120, 120);
    font-weight: 800;
  }
  
  .arrow::before {
     content: " ";
     position: absolute;
     width: 0;
     height: 0;
     border-left: 5px solid #0378af;
     border-top: 5px solid transparent;
     border-bottom: 5px solid transparent;   
     top: 0;
     right :0.3rem;
  }

