@mixin flexCenter($direction){
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

%arrow-position{
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;   
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.calendar {
    display: flex;
    flex-direction: column;
    min-width: 768px;
    margin: 0.5rem;
    border: 1px solid  rgb(236, 235, 235);
    border-right: 1px transparent;
}

.monthPicker {
   @include flexCenter(row);
   background-color:#fef6e1;
   height: 3.5rem;
   border-right: 1px solid rgb(236, 235, 235);
   cursor: pointer;
}

.previous, .next {
   position: relative;
   width: 1rem;
   flex-grow: 0.5;
   text-align: center;
} 

.previous::before {
    @extend %arrow-position;
    border-right: 10px solid #e10601;
}

.next::before {
    @extend %arrow-position;
    border-left: 10px solid #e10601;
}

.months {
    @include flexCenter(row);
    min-width: 18rem;
    height: 100%;
    flex-grow: 9;
    justify-content: space-evenly;
}

.shownMonth {
   @include flexCenter(column);
   flex-grow: 1;
   height: 100%;
   margin-top: 0.25rem;
   text-align: center;
   border-radius: 1px;
   gap:0rem;
   cursor: pointer;
   
   .yearAndMonth {
    @include flexCenter(row);
    font-size: 1.4rem;
    margin: 0rem;
    height: 100%;
    gap: 0.3rem;
}
   .noGroup {
    font-size: 1rem;
    padding-bottom: 0.5rem;
    color:#0378af;
}
}


.displayWeek {
    @include flexCenter(row);
    justify-content: space-evenly;
    height: 2rem;
    font-weight: 600;
    border-top: 1px solid rgb(236, 235, 235);
    border-right: 1px solid rgb(236, 235, 235);
}

.week {
    flex-grow: 1;
    text-align: center;
}

.date {
  box-sizing: border-box;
  flex: 1 0 13%;
  height: 7rem;
  border: 1px solid rgb(236, 235, 235);
  background-color: white;  
  cursor: pointer;
}

.selected {
    background: white;
    color: #e10601;
  }


  .chosen {
    background: #fdf7e1;
    border: 2px solid green;
  }

  .buttonWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-grow: 0.5;
  }