@mixin flexRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.displayDate {
  @include flexRow;
  flex-wrap: wrap;
  background-color: lightgray;
}

.date {
  display: flex;
  flex-direction: column;
}

.day {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
}

.group {
  width: 2.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  background: orange;
  color: white;
}

.event {
  display: flex;
  height: 100%;
  flex-direction: column;
  margin: 5px;
}

.status {
  font-weight: 800;
}

.orange {
  color: orange;
}

.lightgrey {
  color: rgb(165, 163, 163);
}

.teal {
  color: rgb(2, 165, 143);
}

.blue {
  color: rgb(1, 58, 214);
}

.price {
  color: orangered;
  font-weight: 800;
}

.availableVacancy,
.totalVacancy {
  color: rgb(121, 120, 120);
  font-weight: 800;
}
